* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

button {
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.board {
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    grid-template-rows: 1fr 2px 1fr 2px 1fr;
    padding: 4rem 25rem;
}

.board button {
    padding: 2rem 0;
    font-size: 5rem;
    block-size: 20vh;
    border: none;
}

.board div {
    border: 1px black solid;
}

.locked {
    background-color: color-mix(in hsl shorter hue, beige 97%, white 3%);
}

.hidden {
    display: none;
}