button {
    padding: 4rem;
    font-size: 1rem;
}

.b-bot {
    border-bottom: 1px solid black;
}

.b-right {
    border-right: 1px solid black;
}

.top-row,
.middle-row,
.bottom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}