* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

button {
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.board {
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    grid-template-rows: 1fr 2px 1fr 2px 1fr;
    padding: 4rem 25rem;
}

.board button {
    padding: 2rem 0;
    font-size: 5rem;
    block-size: 20vh;
    border: none;
}

.board div {
    border: 1px black solid;
}

.locked {
    background-color: color-mix(in hsl shorter hue, beige 97%, white 3%);
}

.dialog {
    background-color: beige;
    width: 20vw;
    height: 30vh;
    margin: auto;
    margin-top: 24vh;
}

#startScreen button {
    width: 100%;
    height: 100%;
}

#endScreen {
    padding: 1rem;
}

#endScreen form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#endScreen form div {
    display: flex;
    justify-content: center;
}

#endScreen form div>* {
    padding: 0 .5rem;
    margin: 0 1rem;
}