:root {
    --primary-color: #4391CE;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    filter: invert(100%) sepia(0%) saturate(5989%) hue-rotate(169deg) brightness(105%) contrast(102%);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar-container {
    background-color: var(--primary-color);
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
}

.sidebar-container ul {
    list-style-type: none;
}

.dashboard-container,
.navigation-container,
.meta-container {
    display: flex;
    flex-direction: column;
}

.sidebar-container li img {
    width: 10%;
}

.sidebar-container li h3 {
    align-self: center;
}

.dashboard-container li,
.navigation-container li,
.meta-container li {
    display: flex;
    flex-direction: row;
}

.dashboard-container li img {
    width: 20%;
}

.dashboard-container li h2 {
    font-size: 1.5rem;
    align-self: center;
}

.dashboard {
    gap: 0.5rem;
}

.navigation-container,
.navigation-container li,
.meta-container,
.meta-container li {
    gap: 1rem;
}

.header-container {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
}

.main-content-container {
    background-color: #E3E8EF;
    grid-area: 2 / 2 / 3 / 3;
}